<div class="no-registers" *ngIf="!filterPerTemperature">
    <p class="main-title">Aun no existen registros</p>
    <button 
        mat-raised-button
        (click)="goToForm()">
        Crear primer registro
    </button>
</div>
<div class="container" *ngIf="filterPerTemperature">
    <div class="tables">
        <h2 class="title">Registros de usuarios con temperatura por encima de 37 grados</h2>
        <div class="table-container">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        
                <ng-container matColumnDef="documentType">
                  <th mat-header-cell *matHeaderCellDef> Tipo de documento </th>
                  <td mat-cell *matCellDef="let element"> 
                    {{element.documentType === "ti" ? "Tarjeta de identidad" :
                    element.documentType === "cc" ? "Cédula de ciudadania" : 
                    "Cédula de extrangeria"}}  </td>
                </ng-container>
              
                <ng-container matColumnDef="documentNumber">
                  <th mat-header-cell *matHeaderCellDef> Número de documento </th>
                  <td mat-cell *matCellDef="let element"> {{element.documentNumber}} </td>
                </ng-container>
              
                <ng-container matColumnDef="temperature">
                  <th mat-header-cell *matHeaderCellDef> Temperatura </th>
                  <td mat-cell *matCellDef="let element"> {{element.temperature}} </td>
                </ng-container>
              
                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
    
        <h2 class="title">Registros de usuarios con temperatura por debajo de 37 grados</h2>
        <div class="table-container">
            <table mat-table [dataSource]="dataSourceTwo" class="mat-elevation-z8">
        
                <ng-container matColumnDef="documentType">
                  <th mat-header-cell *matHeaderCellDef> Tipo de documento </th>
                  <td mat-cell *matCellDef="let element"> 
                    {{element.documentType === "ti" ? "Tarjeta de identidad" :
                    element.documentType === "cc" ? "Cédula de ciudadania" : 
                    "Cédula de extrangeria"}}  </td>
                </ng-container>
              
                <ng-container matColumnDef="documentNumber">
                  <th mat-header-cell *matHeaderCellDef> Número de documento </th>
                  <td mat-cell *matCellDef="let element"> {{element.documentNumber}} </td>
                </ng-container>
              
                <ng-container matColumnDef="temperature">
                  <th mat-header-cell *matHeaderCellDef> Temperatura </th>
                  <td mat-cell *matCellDef="let element"> {{element.temperature}} </td>
                </ng-container>
              
                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
    </div>
    
    <div class="graph-container">
        <div class="chart">
          <canvas baseChart
            [data]="pieChartData"
            [labels]="pieChartLabels"
            [chartType]="pieChartType"
            [options]="pieChartOptions"
            [plugins]="pieChartPlugins"
            [colors]="pieChartColors"
            [legend]="false"
            [colors]= "doughnutChartColor">
          </canvas>
        </div>
    </div>
</div>
