.message-popup {
    padding: 0 0 1rem;

    p {
        font-size: 22px;
        font-family: sans-serif;
        text-align: center;
    }
}

.buttons {
    margin-top: 3rem;
    text-align: center;

    .button-container {
        margin-right: 1rem;
    }
}
